@font-face{
    font-family: 'Caslon335 Bold';
    src: url("/assests/caslon335-bold\ .ttf");
}

body{
    background-color: #1c1c1c;
    color: white;
    background-image: url(/assests/dark_3@3x.png);
    background-size: 100% auto;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.landing{
    background-image: url(/assests/landing@3x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background-color: white; */
    width: 50%;
    height: 100%;
}

.contact{
    background-image: url(/assests/slice@3x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* background-color: white; */
    width: 50%;
    height: 100%;
}


.ui.secondary.menu .item.menuItem.active .rectangle{
    /* background-color: rgba(255, 255, 255, 0.555); */
    width: 1.9px;
    height: 30px;
    background-color: #ffc901;
    margin-right:3px;
    /* text-align: left; */
}

.ui.four.item.secondary.menu .item.menuItem {
    color:white;
}

.ui.header.jumbo h1{
    padding-top: 150px;
    color:white;
    font-size:80px;
    font-family: 'Caslon355 Bold';
}


#court{
    width: 25%;
}

/* .ui.grid .column{
    background-color: red;
} */

.horizRule{
    width: 100%;
    height: 2px;
    border:solid 2px #ffc901;

}

h3{
    font-family: 'Caslon355 Bold';
    margin-bottom: 0px;
    font-size: 1.6rem;
}

h4{
    text-transform: uppercase;
}

button{
    position: relative;
    bottom: -20px;
    width:66%;
    height: 7%;
    border-radius: 32px;
    border: solid 1px #ffffff;
    background-color:rgba(0, 0, 0, 0);
    color: white;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover{
    width:66%;
    height: 25%;
    border-radius: 32px;
    border: solid 1px #ffc901;
    background-color:#ffc901;
    color: black;
}

.card{
    margin-top:20px;
}

.card .yellow{
    color:#ffc901;
}

.card p{
    margin-top:10px;
}

/* Contact Page */

.allLinks{
    margin-left: 40px;
    margin-top: 40px;
}

.smallIcon{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    vertical-align: middle;
    
    border-radius: 50%;
    background-color: white;

    margin-bottom: 20px;
}

.smallIcon.mail{
    background-color: black;
}

/* Case Study Page */
/* 
"studyHeader">Shopify App Feature</div>
                        <div class="studyTitle">Hatchful Onboarding</div>
                        <div class="studyDesc">Learning to trust the process, embrace the ambiguity, and work with the beautiful mess that is product design.</div>
                        <div class="seeMore" */

.studyCard{
    margin-top: 60px;
}

.studyHeader{
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    margin-bottom: 60px;
    
}

.studyTitle{
    font-weight: 900;
    font-size: 40px;
    text-align: right;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.studyDesc{
    margin-bottom: 40px;
}

.seeMore{
    color: #ffc901;
    font-weight: bold;
}