@font-face{
    font-family: 'Caslon335 Bold';
    src: url("/assets/caslon335-bold\ .ttf");
}

body{
    background-color: #1c1c1c;
    font-family: 'europa', sans-serif;
    color: white;
    background-image: url("dark_6@3x.png");
    background-size: 750px;
    background-repeat: repeat;
    letter-spacing: 0.1px;
}

.subheader{
	font-size: 18px;
	font-weight: 300;
    line-height: 28px;
    /* margin-left: 100px; */
}

.landing{
    background-image: url(landing@3x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    /* width: 50%; */
    height: 800px;
}

.ui.container.top{
    padding-left:100px;
}

.contact{
    background-image: url(slice@3x.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    width: 50%;
    height: 730px;
}

.ui.four.item.secondary.menu{
    position:fixed;
    top:0;
    z-index: 9999;
    
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.ui.four.item.secondary.menu.scrolled{
    background-color: rgba(0,0,0,1);
}

.ui.secondary.menu .item.menuItem.active .rectangle{
    /* background-color: rgba(255, 255, 255, 0.555); */
    width: 1.9px;
    height: 30px;
    background-color: #ffc901;
    margin-right:3px;
    /* text-align: left; */
}

.ui.four.item.secondary.menu .item.menuItem {
    color:white;
    font-weight: 600;
    text-align:left;
}

.ui.header.jumbo h1{
    padding-top: 150px;
    color: white;
    font-size: 104px;
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 600;
    /* margin-left:100px; */
}

#court{
    width: 15%;
}

/* Bottom half of landing page */

 .landingScrolled{
	margin: 96px 0;
}

.landingScrolled .ui.three.column.grid{
    margin: 0 50px;
}

.grid{
	margin-bottom: 124px;
}

/*Set the spacing between the three columns
    Using "margin" will break semantic's UI grid layout, 
    could lead to last column going to a different row.

    The odd looking selector is just copy-pasted from
    "inspect element" to be just as specific as semantic's 
    selector in order to over-ride it.
*/
.ui.grid > .column:not(.row), .ui.grid > .row > .column{ 
    padding-left:3rem;
    padding-right:3rem;
}

.horizRule{
    width: 100%;
    height: 0px;
    border:solid 1px #ffc901;

}

h3{
    font-family: le-monde-livre-classic-byol, serif;
    font-weight: 700;
    margin-bottom: 0px;
    font-size: 1.6rem;
}

h4{
    text-transform: uppercase;
    margin-bottom: 2px;
    font-size: 20px;
}

button{
	font-weight: 700;
    width: 208px;
    height: 48px;
    border-radius: 32px;
    border: solid 1px #ffffff;
    background-color:rgba(0, 0, 0, 0);
    color: white;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;

    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover{
    border: solid 1px #ffc901;
    background-color:#ffc901;
    color: black;
}

.card{
    margin-top:40px;
    line-height: 20px;
    font-size: 15px;
    font-weight:300;
}

.card .yellow{
    color:#ffc901;
    font-weight: 700;
    font-size: 16px;
}

.card p{
    margin-top: 16px;
}

.ui.container.footer{
    margin-top:50px;
    background-color: black;
    width: 100%;
    padding: 24px 50px;
    text-align: right;
}

.footerIcon{
    width: 20px;
    height: 20px;
    margin-left: 25px;
    fill: white;
}

.footerIcon.invertIcon{
    /* background-color: #ffc901; */
    fill: white;
}

.footerIcon:hover{
	fill: #ffc901;
}

/* Contact Page */

.allLinks{
    margin-left: 40px;
    margin-top: 64px;
    display: block;
}


.smallIcon{
    width: 40px;
    height: 40px;
    margin: auto;
    margin-right: 20px;
    margin-bottom: 24px;
}


.smallIcon.invert{
    filter:invert(100%);
}

.contact-text{
	display: inline;
	vertical-align: top;
	line-height: 36px;
	font-size: 20px;
	color: white;
}

.contactLink{
	width: fit-content;
}

.contactLink:hover > .contact-text{
	color: #ffc901;
}

.contactLink:hover > .smallIcon{
	fill: #ffc901;
}

/* Case Study Page */

.studyCard{
    margin-top: 60px;
    margin-bottom: 60px;
}

#case-space{
	height: 120px;
}

.studyHeader{
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    margin-bottom: 60px;
    
}

.studyTitle{
    font-weight: 700;
    font-size: 40px;
    text-align: right;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 24px;
}

.studyDesc{
    margin-bottom: 40px;
    line-height: 30px;
    font-size: 14px;
}

.seeMore{
    color: #ffc901;
    font-weight: bold;
}